@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

:root {
  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-synthesis: none;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
